<div class="container">

    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #docenteForm="ngForm" (ngSubmit)="addDocente(docenteForm)">
                        <div class="row">
                            <div class="input-field s12">
                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="docenteServicio.selectedDocente._id">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="id" #_id="ngModel" [(ngModel)]="docenteServicio.selectedDocente.id" placeholder="Ingresa el id">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="email" #email="ngModel" [(ngModel)]="docenteServicio.selectedDocente.email" placeholder="Ingresa su email">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="password" #password="ngModel" [(ngModel)]="docenteServicio.selectedDocente.password" placeholder="Ingresa la contrasenia">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="docenteServicio.selectedDocente.nombre" placeholder="Ingresa el nombre">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="docenteServicio.selectedDocente.apellido" placeholder="Ingresa el apellido">
                            </div>

                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn left">Guardar</button>
                                    <button class="btn right" (click)="resetFormulario(docenteForm)">Limpiar</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Nombre Usuario</th>
                    <th>Contrasenia</th>
                    <th>Nombre</th>
                    <th>Apellido</th>

                </thead>
                <tbody>
                    <tr *ngFor="let docente of docenteServicio.docentes">
                        <td>{{ docente.id }}</td>
                        <td>{{ docente.nombreUsuario }}</td>
                        <td>{{ docente.password }}</td>
                        <td>{{ docente.nombre }}</td>
                        <td>{{ docente.apellido }}</td>

                        <td>
                            <a (click)="editDocente(docente)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteDocente(docente)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>