<! -- *********************** inicio de la barra draggable lateral izquierda *******************************  -->
<div class="fondo">
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSfLEjgLu4vC0MSkLVRWK78eFn4XjESpSrtSiqsLaszF_Tmlkp&s">
                </div>
                <br>
                <a><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1KpVGH8WrdvidA2iUzffpqQXlZhHxUq97ERTUdhyYqhQVKZwezg&s"></a>

                <a><span class="back-text">{{email}}</span></a>
            </div>
        </li>
        <li><a class="subheader">ABM</a></li>
        <li (click)="mostrarDoc()"><a class="btn tooltipped waves-effect waves-teal btn-flat"><i class="material-icons" >group_add</i>Nuevo Docente</a></li>
        <li (click)="mostrarAlu()"><a class="btn tooltipped waves-effect waves-teal btn-flat"><i class="material-icons">face</i>Nuevo Alumno</a></li>
        <li (click)="mostrarAsig()"><a class="btn tooltipped waves-effect waves-teal btn-flat"><i class="material-icons">import_contacts</i>Nueva Asignatura</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Otros</a></li>
        <li (click)="funcionVincular()"><a class="btn tooltipped waves-effect waves-teal btn-flat"><i class="material-icons">compare_arrows</i>Vincular</a></li>
    </ul>

    <! -- *********************** fin de la barra draggable lateral izquierda *******************************  -->
    <div class="row">
        <! -- fila para los primeros dos botones (barra lateral y log out) -->
        <div class="col s1 left">
            <! -- boton para barra lateral tamano s1 y aliniacion lateral izquierda -->
            <br>
            <a data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
        <div class="col s1 right">
            <br>
            <! -- boton para log out tamano s1 y aliniacion lateral derecha -->

            <a class="sidenav-trigger btn-floating btn-large waves-effect waves-light blue " (click)="logout()"><i class="material-icons medium " >exit_to_app</i></a>
        </div>
    </div>

    <div class="row">

        <! -- nueva fila , para los tags de componentes que se deban cargar dentro de este compenete -->
        <! -- si el elemento HTML ya viene dentro de un container, no agregar otro container aca  -->
        <app-docentes *ngIf="ABMdocente"></app-docentes>
        <div class="container">
            <app-alta-alumno *ngIf="ABMalumno"></app-alta-alumno>
        </div>
        <app-asignaturas *ngIf="ABMasignatura"></app-asignaturas>
        <app-vincular-desvincular *ngIf="vincula"></app-vincular-desvincular>
    </div>

</div>