<nav class="nav-wrapper blue">
    <div class="container">
        <a href="/" class="brand-logo center"> ILearn</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- 
                <li>
                <a [routerLink]="['/login']" routerLinkActive="active">Login Admin</a>
            </li>
            <li>
                <a [routerLink]="['/login-docente']" routerLinkActive="active">Login Docente</a>
            </li>
            <li>
                <a [routerLink]="['/adminHome']" routerLinkActive="active">Admin Home</a>
            </li>
            <li>
                <a [routerLink]="['/docenteHome']" routerLinkActive="active">Docente Home</a>
            </li>
            <li>
                <a [routerLink]="['/alumnos']" routerLinkActive="active">Ejemplo Ramiro</a>
            </li>
            <li>
                <a [routerLink]="['/vincular-desvincular']" routerLinkActive="active">Vincular</a>
            </li>
            <li>
                <a [routerLink]="['/asignaturas-docente']" routerLinkActive="active">Asignaturas del docente</a>
            </li>
            </li> 
        -->
           
        </ul>
    </div>
</nav>

    <div class="row">
        <div class="col s12">
            <router-outlet></router-outlet>
        </div>
            
    </div>