<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s12">

            </div>
            <div class="col s12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="btnUpload" class="input-group-text upload">
                            
                        </span>
                    </div>
                    <div class="custom-file">
                        <form action="">
                            <input type="file" class="custom-file-input" id="input-custom-file">
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12">
                
            </div>
            <div class="col s12">

            </div>
        </div>
    </div>
</div>