<div class="row">
    <div class="col s12">
        <div class="algo" *ngIf="show">
            <div class="row col s6 push-s2" style="margin-top:40px; background-color:#eff0f2;
                -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
                <!-- <div class="col-sm-12" style="text-align:center;">
                    Register
                </div> -->
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Hola, Sr Docente.!</h1>
                        <p class="lead">Has iniciado sesión correctamente en nuestro sistema.</p>
                        <hr class="my-4">
                        <p>Muy pronto podras visualizar aqui todas las funcionalidades de un docente.</p>
                        <div>
                            <p class="lead" style="color:white;">
                                <a class="btn btn-primary btn-lg " role="button" (click)="logout()">Log Out</a>
                                <a class="btn btn-primary btn-lg " role="button" (click)="irAsignatura()">Asignatura</a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<table class="collection">
    <tr *ngFor="let item of listaAsignaturas ">
        <a href="" class="collection-item">
            <td>{{item}}</td>
        </a>
    </tr>
</table>