<div class="row col s4 push-s4" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
    <div class="col s12" style="text-align:center;">
       <h4>Login</h4> 
    </div>

    <div class="col s12">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
                <small id="passHelp" class="form-text text-muted"></small>
            </div>

            <div class="form-group" style="text-align:center;">
                <button type="button" class="btn btn-dark" (click)="login()">Log in</button>
            </div>
        </form>
    </div>
</div>