

<div class="container">
    <div class="row">
        <div class="col s12">
            <ul id="slide-out" class="sidenav sidenav-fixed transparent">
                <li><br></li>
                <li><br></li>
                <li><br></li>
                <li><a data-target="modal1" class="btn modal-trigger">Info</a></li>
                <li><a data-target="modal2" class="btn modal-trigger">Archivos</a></li>
            </ul>
            <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        
        <div class="col s8">
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s12">
                            <h4>Datos asignatura</h4>
                            <p class="flow-text">Nombre: {{nombrAsign}}</p>
                            <p class="flow-text">Año: {{anioAsign}}</p>
                            <p class="flow-text">Descripcion: {{descripAsign}}</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Datos docente</h4>
                            <p class="flow-text">Nombre: {{nombre}}</p>
                            <p class="flow-text">Apellido: {{apellido}}</p>
                            <p class="flow-text">Email: {{email}}</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <!-- Modal Trigger -->
            

            <!-- Modal Structure -->
            <div id="modal2" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>Archivos de la asignatura</h4>
                    <table>
                        <tr *ngFor="let item of pdfsAsign">
                            <td><a class="" href="{{item}}" target="_blank">{{item.slice(33)}}</a></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="header">
            <h1>Subir un archivo</h1>
        </div>
        <div class="col s8 offset-s4">
            <form action="/api/upload" method="post" enctype="multipart/form-data">
                <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
            </form>
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
        <div class="row">
             <div class="col s4 offset-s4">
            <span class="btn" (click)="upload()">Upload</span>
        </div>
        </div>
       
    </div>
</div>