<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #asignaturaForm="ngForm" (ngSubmit)="addAsignatura(asignaturaForm)">
                        <div class="row">
                            <div class="input-field s12">
                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="asignaturaServicio.selectedAsignatura._id">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="id" #id="ngModel" [(ngModel)]="asignaturaServicio.selectedAsignatura.id" placeholder="Ingresa su identificador">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="asignaturaServicio.selectedAsignatura.nombre" placeholder="Ingresa el nombre">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="anio" #anio="ngModel" [(ngModel)]="asignaturaServicio.selectedAsignatura.anio" placeholder="Ingresa el Año al que corresponda">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="asignaturaServicio.selectedAsignatura.descripcion" placeholder="Ingresa la descripcion">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn left">Guardar</button>
                                    <button class="btn right" (click)="resetFormulario(asignaturaForm)">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Año</th>
                    <th>Descripcion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let asignatura of asignaturaServicio.asignaturas">
                        <td>{{ asignatura.id }}</td>
                        <td>{{ asignatura.nombre }}</td>
                        <td>{{ asignatura.anio }}</td>
                        <td>{{ asignatura.descripcion }}</td>
                        <td>
                            <a (click)="editAsignatura(asignatura)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteAsignatura(asignatura)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>