<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #alumnoForm="ngForm" (ngSubmit)="addAlumno(alumnoForm)">
                        <div class="row">
                            <div class="input-field s12">
                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="alumnoServicio.selectedAlumno._id">
                            </div>
                            <div class="input-field s12">
                                <input type="number" name="dni" #nombre="ngModel" [(ngModel)]="alumnoServicio.selectedAlumno.dni" placeholder="Ingresa su dni">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="alumnoServicio.selectedAlumno.nombre" placeholder="Ingresa el nombre">
                            </div>
                            <div class="input-field s12">
                                <input type="number" name="edad" #edad="ngModel" [(ngModel)]="alumnoServicio.selectedAlumno.edad" placeholder="Ingresa la edad">
                            </div>
                            <div class="input-field s12">
                                <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="alumnoServicio.selectedAlumno.direccion" placeholder="Ingresa la direccion">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn left">Guardar</button>
                                    <button class="btn right" (click)="resetFormulario(alumnoForm)">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Direccion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnoServicio.alumnos">
                        <td>{{ alumno.dni }}</td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.edad }}</td>
                        <td>{{ alumno.direccion }}</td>
                        <td>
                            <a (click)="editAlumno(alumno)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteAlumno(alumno)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>