<div class="container">
    <div class="row">
        <!-- Busqueda -->
        <div class="card">
            <div class="row">
                <!-- Autocompletado -->
                <div class="col s6">
                    <mat-form-field class="example-full-width col s10">
                        <input type="text" placeholder="Docente" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto" ng-model='boolValue'>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let opcion of filtradoOpciones | async" [value]="opcion">
                                {{opcion.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="row col s12">
                    <button ng-disabled='boolValue' class="waves-effect waves-light btn"><i class="material-icons left">person</i> CARGAR</button>
                </div>
            </div>
        </div>

        <div class="card">
            <!-- Tabla -->
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Descripción</th>
                        <th>Vincular</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let asignatura of asignaturaServicio.asignaturas">
                        <td>{{ asignatura.nombre }}</td>
                        <td>{{ asignatura.anio }}</td>
                        <td>{{ asignatura.descripcion }}</td>
                        <td>
                            <a>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span></span>
                                </label>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row col s3">
            <button class="btn right" (click)="(agregarTag())">Vincular</button>
            <button class="btn left">Cancelar</button>
        </div>

    </div>
</div>